<nav id="navbar" class="navbar navbar-expand-lg navbar-light text-dark fw-light mb-4 p-1 border border-dark shadow">
    <div class="container">
      <a class="navbar-brand text-info p-1" href="{% url 'myapp:home' %}">Nemesis</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
      </div>
      {% if user.is_authenticated %}
       <btn class="btn  btn-sm px-3 text-decoration-none text-dark" > <a class="text-decoration-none text-dark" href="{% url 'myapp:logout' %}">Logout</a></btn>
       {% endif %}
    </div>
  </nav>