{% extends 'base.html' %} {% block title %} Create Account {% endblock %} {% block content %}





<div class="" tabindex="-1" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-c">
        <h5 class="text-center">Update your Detail</h5>
      </div>
      <div class="modal-body">
        <form action="{% url 'myapp:update-user' user.id %}" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            {{ form.username}}
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            {{ form.email }}
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            {{ form.address }}
          </div>

          <!-- Modal -->
          <div class="modal fade" id="userupdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Password Confirmation</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Your Password</label>
                    {{ form.password1 }}
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Confirm Your Password</label>
                    {{ form.password2 }}
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#userupdate">
          Update
        </button>

        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}